lidar_config {
  sensor_name: "lidar16_left"
  translation {
    x: 1
    y: 1
    z: 1
  }
}
lidar_config {
  sensor_name: "lidar16_right"
  translation {
    x: 12
    y: 1
    z: 1
  }
}
lidar_config {
  sensor_name: "lidar16_back"
  translation {
    x: 1
    y: 10
    z: 1
  }
}
main_sensor: "lidar16_back"
